
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.active {
    background-color: #636b6f !important;
}

div.buttons {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}
